## MySQL Database

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=


## Firebase

GCLOUD_PROJECT=
FIREBASE_EMULATOR_HUB_HOST=
FIRESTORE_EMULATOR_HOST=
FIREBASE_AUTH_EMULATOR_HOST=
